# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.log
db.sqlite3
staticfiles/

# Env
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Local media/uploads
media/uploads/

# Build artifacts
dist/
build/

# Docker
*.pid
*.pid.lock
*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env
