<!-- partials/obrat_oddelek_group_form.html -->
<div class="card-body">
    <!-- Obrat Oddelek Selection -->
    <div class="mb-4">
        <label for="obrat_oddelek_select">Select Obrat Oddelek:</label>
        <select id="obrat_oddelek_select" class="form-select" 
                hx-get="{% url 'get_obrat_oddelek_groups' %}" 
                hx-target="#existing_groups_add_obrat_oddelek_group"
                hx-trigger="change">
            {% if prefilled_obrat_oddelek %}
                <option value="{{ prefilled_obrat_oddelek.id }}" selected>{{ prefilled_obrat_oddelek.obrat }} - {{ prefilled_obrat_oddelek.oddelek }}</option>
            {% endif %}
            {% for obrat_oddelek in available_obrat_oddelki %}
                <option value="{{ obrat_oddelek.id }}">{{ obrat_oddelek.obrat }} - {{ obrat_oddelek.oddelek }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Existing Groups and Add New Group -->
    <div class="mb-4">
        <label for="existing_groups_add_obrat_oddelek_group">Select or add a new group:</label>
        <div class="d-flex">
            <select id="existing_groups_add_obrat_oddelek_group" class="form-select me-2" 
                    hx-get="{% url 'get_obrat_oddelek_groups' %}" 
                    hx-target="#existing_groups_add_obrat_oddelek_group"
                    hx-trigger="change">
                <option value="" selected disabled>Select a group</option>
                {% for group in obrat_oddelek_groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            <div class="input-group">
                <input type="text" id="new_group_name_add_obrat_oddelek_group" class="form-control" placeholder="New group name">
                <button id="add_group_btn_add_obrat_oddelek_group" class="btn btn-primary"
                        hx-post="{% url 'add_obrat_oddelek_group_ajax' %}" 
                        hx-include="#new_group_name_add_obrat_oddelek_group"
                        hx-target="#existing_groups_add_obrat_oddelek_group">+</button>
            </div>
        </div>
    </div>

    <!-- User Selection -->
    <div class="mb-4">
        <label for="user_selection_add_obrat_oddelek_group">Add users to the selected group:</label>
        <select id="user_selection_add_obrat_oddelek_group" class="form-select js-example-basic-multiple" name="users[]" multiple="multiple">
            {% for user in available_users %}
                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="text-center">
        <button id="save_group_btn_add_obrat_oddelek_group" class="btn bg-gradient-info w-100 mt-4 mb-0"
                hx-post="{% url 'update_obrat_oddelek_group_members' %}"
                hx-include="#user_selection_add_obrat_oddelek_group"
                hx-target="#response-message">Save Changes</button>
    </div>
</div>
