<!-- Render the Stepper components -->

<div id="stepper-container" class="stepper-container-flex">
    {% if steppers_data %}
        {% for stepper in steppers_data %}
        <div id="stepper-container-{{ forloop.counter }}" class="stepper-item"></div>
        {% endfor %}
    {% else %}
        <p>No steppers found</p>
    {% endif %}
</div>

<!-- Include the script to render the React components -->
{{ steppers_data|json_script:"steppers-data" }}
{{ hide_buttons|json_script:"hide-buttons-data" }}

<script>
    // Declare 'steppersData' globally only if it doesn't exist yet
    if (typeof window.steppersData === 'undefined') {
        window.steppersData = JSON.parse(document.getElementById('steppers-data').textContent);
    } else {
        // Update the steppersData with the new content
        window.steppersData = JSON.parse(document.getElementById('steppers-data').textContent);
    }

    // Declare 'hideButtons' globally only if it doesn't exist yet
    if (typeof window.hideButtons === 'undefined') {
        window.hideButtons = JSON.parse(document.getElementById('hide-buttons-data').textContent);
    } else {
        // Update the hideButtons with the new content
        window.hideButtons = JSON.parse(document.getElementById('hide-buttons-data').textContent);
    }

    console.log("hideButtons:", window.hideButtons);
    
    // Function to render the steppers
    function renderSteppers(hideButtons) {
        window.steppersData.forEach((stepper, index) => {
            // Render the StepperClick component using ReactDOM
            ReactDOM.render(
                React.createElement(window.StepperClick, {
                    id: stepper.id,
                    project: stepper.project,
                    orientation: stepper.orientation || "vertical",
                    steps: stepper.steps,
                    initialCompletedSteps: stepper.initialCompletedSteps || [],
                    activeStep: stepper.activeStep || -1,
                    assignee: stepper.assignee,
                    assigner: stepper.assigner,
                    assignee_username: stepper.assignee_username,
                    loggedusername: "{{ request.user.username }}",
                    hideButtons: window.hideButtons,
                    stepperWidth: stepper.stepperWidth || "400px",
                    obrat_oddelek: stepper.obrat_oddelek
                }),
                document.getElementById(`stepper-container-${index + 1}`)
            );
        });
    }

    // Initial render
    renderSteppers(window.hideButtons);

    // Listen to htmx:afterSwap event to re-render steppers after HTMX updates the content
    document.body.addEventListener('htmx:afterSwap', function() {
        window.steppersData = JSON.parse(document.getElementById('steppers-data').textContent);
        window.hideButtons = JSON.parse(document.getElementById('hide-buttons-data').textContent);
        renderSteppers(window.hideButtons);
    });
</script>
